<!DOCTYPE html>
<html lang="{{request.locale_name}}">
   
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="QUBMC Website">
        <meta name="author" content="Joe Cargill">
        <link rel="shortcut icon" href="{{request.static_url('qubmc_web:static/crest.svg')}}">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
                 integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" 
                 integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <link rel="stylesheet" href="{{request.static_url('qubmc_web:static/theme.css')}}">
        
        <nav class="navbar navbar-default navbar-edit navbar-collapse navbar-fixed-top" >
            <div class="container-fluid">
                <div class="navbar-header ">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand navbar-crest-padding" href="#"><img class="navbar-crest" src="{{request.static_url('qubmc_web:static/crest.svg')}}"></a>
                </div>
                
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav align-centre">
                        <li><a href="#">ABOUT</a></li>
                        <li><a href="#">BLOG</a></li>
                        <li><a href="#">TRIPS</a></li>
                        <li><a href="#">GUIDES</a></li>
                        <li><a href="#">WIKI</a></li>
                        <li><a href="#">JOIN</a></li>
                    </ul>
                    
                </div>
            </div>
        </nav>
    </head>

    <body>
        <!-- Custom styles for this scaffold -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
                 integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" 
                 integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <link rel="stylesheet" href="{{request.static_url('qubmc_web:static/theme.css')}}">
        <div class="padding-div"></div>
       
        <div>
            {% block carousel %}
            <p>No carousel</p>
            {% endblock carousel %}
        </div>
        
        <div>
            {% block bottombanner %}
            <p>No bottombanner</p>
            {% endblock bottombanner %}
        </div>
        
        <div>
            {% block footer %}
            <p>No footer</p>
            {% endblock footer %}
        </div>

        
        
        <!-- <div>
            {% block duckform %}
            <p>No duckform</p>
            {% endblock duckform %}
        </div> -->  
        
        
       


        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="//oss.maxcdn.com/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
        </script>
    </body>

</html>
