@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
@import url('https://fonts.googleapis.com/css?family=Abel|Alfa+Slab+One');

.carousel-width {
    width: 100%;
}

.navbar-crest {
    height: 200%;
}

.navbar-crest-padding {
    padding-top: 2px;
}

.navbar-edit {
    margin-bottom: 0px;
    z-index: 1;
    width: 100%
}
