@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
@import url('https://fonts.googleapis.com/css?family=Abel|Alfa+Slab+One');

.carousel-width {
    width: 100%;
    height: 80%;
}

.padding-div {
    padding-top:50px;
}

.navbar-crest {
    height: 200%;
    display: flex;
	justify-content: center;
	flex-wrap: wrap;
    float: none;
}

.navbar-crest-padding {
    padding-top: 2px;
}

.navbar-edit {
    margin-bottom: 0px;
    z-index: 1;
    width: 100%;
    top: 0px; 
}

.list-edit {
    margin: 0px;
    padding: 0px;
}

.align-centre {
    text-align: center;
}

.nav.navbar-nav {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}


div.wrapper {
    width:100%;
    padding:0px;
    margin: 0px;
    padding-top: 2px;
 }
 
div.image {
    display: inline-block;
    width:100%;
    padding-top: 2px;
}

div.firstimage {
    display: inline-block;
    width:100%;
    padding-top: 2px;
}

.login-panel {
    display: inline-block;
    width: 20%;
    padding: 10px;
    text-align: center;
}

.botimg1 {
    width:100%;
}

.botimg2 {
    width:100%;
}

@media (min-width: 769px) {
	.navbar-nav {
		float: none;
	}
    
    div.wrapper {
    width:100%;
    padding:0px;
    margin: 0px;
    padding-top: 2px;
 }

    div.image {
        display: inline-block;
        width:33%;
        padding-top: 5px;
    }

    div.firstimage {
        display: inline-block;
        width:33%;
        padding-top: 5px;
    }
}

.footer {
    padding: 5px;
}

.panel-edit {
}





