@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
@import url('https://fonts.googleapis.com/css?family=Abel|Alfa+Slab+One');

* {
  margin:0;
  padding:0;
}

body {
  padding:0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #1d2120;
  background: #5a5c51;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
}
p {
  font-weight: 300;
}
.font-normal {
  font-weight: 400;
}
.font-semi-bold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}

.header {
    background:#1d2120;
    height:3.2vh;
    min-height: 42px;
}

.header img {
    margin-top: .2vh;
    margin-left: .5vw;
    float:left;
    width:auto;
    height: 4vh;
    min-height: 46px;

}

.qubmc-title {

}

.qubmc-title .qub {
    position:relative;
    left: 1vw;
    top: .3vw;
    color: #5a5c51;
    white-space: nowrap;
    font-family: 'Abel', sans-serif;
    font-size:calc(10px + 1vw);

}

.qubmc-title .mc {
  position:relative;
  left: 1vw;
  top: 0;
  font-size:calc(10px + 1.1vw);
  white-space: nowrap;
  color: #5a5c51;
}

.blog-img {
  float:left;
  width:10vh;
  height:auto;
}
